body {
    font-family: 'Comfortaa';
    background-color: rgb(17, 18, 19);
    color: rgb(211, 232, 238);
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    letter-spacing: 1px;
}

.dropdown {
    display: none;
}

header {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.nav-main { 
    font-size: 1em;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    width: 1.5em;
}
.logo {
    width:1.5em;
}

.email-icon {
    width:2em;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 3em;
    padding: 4em;
}

.welcome-text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

.welcome-hey {
    
    font-size: 1.4em;
    padding: 1em;
    padding-left: 0em;
    margin: 0;
}

.welcome-description {
    color: rgb(162, 212, 233);
}

.welcome-aboutme {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.aboutme-description {
    color: rgb(162, 212, 233);
}

.welcome-more {
    color: rgb(114, 200, 238);
    text-decoration-line: none;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}

.profile-picture {
    border-radius: 3%;
}

@keyframes nav-color {
    from {color: rgb(211, 232, 238);}
    to {color: rgb(114, 200, 238);}
  }

.myNFTs {
    color: rgb(211, 232, 238);
    text-decoration-line: none;
}
.myNFTs:hover {
    animation-name: nav-color;
    animation-duration: 0.8s;
    color: rgb(114, 200, 238);
}

.myNFTs.html {
    text-decoration-line: underline;
    text-underline-offset: 0.5em;
}

.aboutme {
    color: rgb(211, 232, 238);
    text-decoration-line: none;
}
.aboutme:hover {
    animation-name: nav-color;
    animation-duration: 0.8s;
    color: rgb(114, 200, 238);
}

.aboutme.html {  
    text-decoration-line: underline;
    text-underline-offset: 0.5em;
}

.portf {
    color: rgb(211, 232, 238);
    text-decoration-line: none;   
}
.portf:hover {
    animation-name: nav-color;
    animation-duration: 0.8s;
    color: rgb(114, 200, 238);
}

.portf.html {
    text-decoration-line: underline;
    text-underline-offset: 0.5em;
}

.profiles {
    display: flex;
    flex-direction: column;
}

.profiles a {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-decoration-line: none;
    color: rgb(114, 200, 238);
    display: flex;
    align-items: center;
}
.profiles a:hover {
    color: rgb(116, 114, 238);
}

.profiles img {
    padding-right: 1em;
    width: 10%;
}

.profiles-title {
    padding-top: 2em;
    font-size: 1.4em;
}

.ftr-main {
    margin-top: 10em;
    border: 0em;
    border-top: 0.2em;
    border-style:solid;
    border-color: rgb(21, 22, 24);
}

.ftr-logo {
    width: 2em;
    padding-right: 1em;
}

.ftr-name {
    padding: 1em;
    padding-left: 1em;
    margin-left: 0.1em;
    border: 0em;
    border-left: 0.2em;
    border-style: solid;
    border-color: rgb(21, 22, 24);
}

.ftr-logo-name {
    padding: 2em;
    padding-top: 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ftr-bottom {
    padding-bottom: 1em;
    padding-top: 0em;
    font-size: 0.8em;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.ftr-contact {
    padding-right: 2em;
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.ftr-email {
    color: rgb(114, 200, 238);
    text-decoration-line: none;
}

.ftr-messenger {
    color: rgb(114, 200, 238);
    text-decoration-line: none;
}
footer a:hover {
    color: rgb(116, 114, 238);
}

.ftr-copyright {
    padding-left: 2em;
}

.inprogress {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 8em;
}

.mynft-textcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    flex-basis: 3em;
    padding: 4em;
}

.mynft-welcome {
    text-align: center;
    font-size: 1.4em;
}

.mynft-description {
    padding-top: 2em;
    color: rgb(162, 212, 233);;
    
}

.nft1 img, .nft2 img, .nft3 img {
    width: 60%;
    border-radius: 3%;
}

.mynft-content {
    display: flex;
    flex-direction: column;
    
}

.mynft-content picture {
    display: flex;
    flex-direction: row;
    padding-top: 4em;
    padding-bottom: 2em;
}   

.nft1-textcontent, .nft2-textcontent, .nft3-textcontent  {
    width: 100%;
    text-align: center;

}

.nft1-textcontent p, .nft2-textcontent p, .nft3-textcontent p {
    font-size: 0.8em;
    margin: 0em;
    padding-top: 1.8em;
    padding-bottom: 0.5em;
    color: rgb(211, 232, 238);;
} 

.nft1-textcontent a, .nft2-textcontent a, .nft3-textcontent a {
    width: 100%;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(114, 200, 238);
    text-decoration-line: none;
} 
.nft1-textcontent a:hover, .nft2-textcontent a:hover, .nft3-textcontent a:hover {
    color: rgb(116, 114, 238);
}

.nft1, .nft2, .nft3 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nft-website {
    padding-top: em;
}

.mynft-description-link {
    color: rgb(114, 200, 238);
    text-decoration-line: none;
    font-weight: bold;
}
.mynft-description-link:hover {
    color: rgb(116, 114, 238);
}



@media (min-width: 600px) and (max-width: 1200px) {


    .welcome {
        align-items: center;
    }

    .welcome-hey {
        font-size: 1.3em;
        text-align: center;
    }

    .welcome-text-img {
        width: 60%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    
    .welcome {
        padding: 0em;
    }

    .welcome-aboutme {
        width: 90%; 
    }

    .img {
        padding: 0em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-picture {
        width: 90%;
    }   

    .profiles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profiles a {
        display: flex;
        padding-left: 1em;
    }

    .profiles-title {
        padding-top: 2em;
        padding-bottom: 1em;
        margin: 0em;
    }

    .ftr-bottom {
        font-size: 0.6em;
        flex-direction: column; 
        align-items: center;
    }

    .ftr-contact {
        padding-right: 0;
    }

    .ftr-copyright {
        padding-left: 0;
    }
    
}

@media (min-width: 100px) and (max-width: 600px) {

    body {
        font-size: 0.8em;
    }

    header {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .aboutme, .portf, .portf, .myNFTs {
        display: none;
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 2em;
        padding-right: 2em;
        display: none;
        position:-ms-page;
        background-color:  rgb(211, 232, 238);
        box-shadow: 0em 0em 2em 0em rgba(0, 0, 0, 0.2);
       
    }

    .dropdown-content a {
        padding-top: 0.5em;
        font-size: 1.2em;
        font-weight: bolder;
        height: 2em;
        width: 10em;
        color:  rgb(17, 18, 19);
        text-decoration: none;
        display: block;
    }
   
    .dropdown-content.show {
        margin-top: 1em;
        border-radius: 0.3em 1em 0.3em 1em;
        position:absolute;
        right: -7.4em;
        display:block;
        text-align: center;
        
    }

    .dropdown-icon {
    
        width: 2em;
        transition: all 0.8s ease-out;
    }
    
    .dropdown-icon.change {
        transform:rotate(180deg);
    }

    .logo {
        width: 2em;
    }

    .email-icon {
        width: 2.5em;
    }

    .welcome-hey {
        font-size: 1.3em;
        text-align: center;
    }

    .welcome-text-img {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    
    .welcome {
        padding: 0em;
    }

    .welcome-aboutme {
        width: 90%; 
    }

    .img {
        padding: 0em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-picture {
        width: 90%;
    }   

    .profiles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profiles a {
        display: flex;
        padding-left: 1em;
    }

    .profiles-title {
        padding-top: 2em;
        padding-bottom: 1em;
        margin: 0em;
    }

    .ftr-bottom {
        font-size: 0.6em;
        flex-direction: column; 
        align-items: center;
    }

    .ftr-contact {
        padding-right: 0;
    }

    .ftr-copyright {
        padding-left: 0;
    }

    .mynft-textcontent {
        flex-basis: 1em;
        padding-top: 1em;
        padding-right: 1em;
        padding-left: 1em;
    }

    .mynft-description {
        padding-top: 0em;
    }

    .mynft-content picture {
        flex-direction: column;
        align-items: center;
        padding: 0em;
    }

    .nft1 img, .nft2 img, .nft3 img {
        width: 100%;
    }

    .nft1, .nft2, .nft3 {
        width: 80%;
        padding-bottom: 5em;
    }
    
}