body {
    font-family: 'Comfortaa', cursive;
    background-color: rgb(17, 18, 19);
    color: rgb(211, 232, 238);
    line-height: 1.5;
    letter-spacing: 1px;
}

header {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

#nav-main { 
    font-size: 1em;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-link {
    width: 1.5em;
}
#logo {
    width:1.3em;
}

#email {
    width: 1.3em;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 3em;
    padding: 4em;
}

#welcome-text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

#welcome-hey {
    margin: 0em;
    font-size: 1.5em;
    padding: 2em;
    padding-left: 0em;
}

#welcome-aboutme {
    width: 50%;
    margin: 0em; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.welcome-more {
    color: rgb(84, 194, 238);
    text-decoration-line: none;
}

#img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}

.profile-picture {
    
    border-radius: 40%, 5%, 5%, 5%;
}

.aboutme {
    color: rgb(211, 232, 238);
    text-decoration-line: none;
}

.aboutme.about {  
    text-decoration-line: underline;
    text-underline-offset: 0.5em;
}

.portf {
    color: rgb(211, 232, 238);
    text-decoration-line: none;   
}

.portf.portfolio {
    text-decoration-line: underline;
    text-underline-offset: 0.5em;
}




@media (min-width: 100px) and (max-width: 500px) {
    header {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    #welcome-hey {
        font-size: 1.3em;
        text-align: center;
    }

    #welcome-text-img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    #welcome {
        padding: 0em;
    }

    #welcome-aboutme {
        width: 90%; 
    }

    #img {
        width: 100%;
        height: 30em;
        padding: 1em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-picture {
        width: 90%;
    }

    
}