body {
    font-family: 'Comfortaa', cursive;
    background-color: rgb(17, 18, 19);
    color: rgb(211, 232, 238);
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    letter-spacing: 1px;
}

header {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.nav-main { 
    font-size: 1em;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    width: 1.5em;
}
.logo {
    width:1.3em;
}

.email-icon {
    width:2em;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 3em;
    padding: 4em;
}

.welcome-text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

.welcome-hey {
    font-size: 1.4em;
    padding: 1em;
    padding-left: 0em;
    margin: 0;
}

.welcome-aboutme {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.welcome-more {
    color: rgb(114, 200, 238);
    text-decoration-line: none;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}

.profile-picture {
    border-radius: 3%;
}

@keyframes nav-color {
    from {color: rgb(211, 232, 238);}
    to {color: rgb(114, 200, 238);}
  }

.others {
    color: rgb(211, 232, 238);
    text-decoration-line: none;
}
.others:hover {
    animation-name: nav-color;
    animation-duration: 0.8s;
    color: rgb(114, 200, 238);
}

.others.html {
    text-decoration-line: underline;
    text-underline-offset: 0.5em;
}

.aboutme {
    color: rgb(211, 232, 238);
    text-decoration-line: none;
}
.aboutme:hover {
    animation-name: nav-color;
    animation-duration: 0.8s;
    color: rgb(114, 200, 238);
}

.aboutme.html {  
    text-decoration-line: underline;
    text-underline-offset: 0.5em;
}

.portf {
    color: rgb(211, 232, 238);
    text-decoration-line: none;   
}
.portf:hover {
    animation-name: nav-color;
    animation-duration: 0.8s;
    color: rgb(114, 200, 238);
}

.portf.html {
    text-decoration-line: underline;
    text-underline-offset: 0.5em;
}

.profiles {
    display: flex;
    flex-direction: column;
}

.profiles a {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-decoration-line: none;
    color: rgb(114, 200, 238);
    display: flex;
    align-items: center;
}

.profiles img {
    padding-right: 1em;
    width: 10%;
}

.profiles-title {
    padding-top: 2em;
    font-size: 1.4em;
}

.ftr-main {
    margin-top: 10em;
    border: 0em;
    border-top: 0.2em;
    border-style:solid;
    border-color: rgb(21, 22, 24);
}

.ftr-logo {
    width: 2em;
    padding-right: 1em;
}

.ftr-name {
    padding: 1em;
    padding-left: 1em;
    margin-left: 0.1em;
    border: 0em;
    border-left: 0.2em;
    border-style: solid;
    border-color: rgb(21, 22, 24);
}

.ftr-logo-name {
    padding: 2em;
    padding-top: 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ftr-bottom {
    padding-bottom: 1em;
    padding-top: 0em;
    font-size: 0.8em;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.ftr-contact {
    padding-right: 2em;
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.ftr-email {
    color: rgb(114, 200, 238);
    text-decoration-line: none;
}

.ftr-messenger {
    color: rgb(114, 200, 238);
    text-decoration-line: none;
}

.ftr-copyright {
    padding-left: 2em;
}

.inprogress {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 8em;
}





@media (min-width: 100px) and (max-width: 700px) {
    header {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .welcome-hey {
        font-size: 1.3em;
        text-align: center;
    }

    .welcome-text-img {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
    
    .welcome {
        padding: 0em;
    }

    .welcome-aboutme {
        width: 90%; 
    }

    .img {
        padding: 0em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-picture {
        width: 90%;
    }   

    .profiles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profiles a {
        display: flex;
        padding-left: 1em;
    }

    .profiles-title {
        padding-top: 2em;
        padding-bottom: 1em;
        margin: 0em;
    }

    .ftr-bottom {
        font-size: 0.6em;
        flex-direction: column; 
        align-items: center;
    }

    .ftr-contact {
        padding-right: 0;
    }

    .ftr-copyright {
        padding-left: 0;
    }
    
}